<%= turbo_stream_from :jobs %>

<div id="jobs">
  <%= render @jobs %>
</div>

<% if @jobs.none? %>
  <article>Check back later for new jobs.</article>
<% end %>

<%= content_for :footer, render("subscribers/form") %>
